@use 'vars';

.form {
  width: 300px;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  border: 1px solid vars.$button;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.title-form {
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
  font-size: vars.$title;
  margin: -8px;
}

.form_input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-family: vars.$label-font;
  font-size: vars.$md;
  font-weight: 400;
  color: vars.$text-label-color;
}

input {
  font-family: vars.$label-font;
  font-size: vars.$sm;
  border-radius: 3px;
  padding: 8px 0;
  border: 1px solid vars.$button;
}

button {
  background-color: vars.$button;
  color: vars.$white;
  padding: 10px 0;
  border-radius: 5px;
  font-family: vars.$label-font;
  font-size: vars.$md;
  font-weight: bold;
  border: 1px solid vars.$button;
  cursor: pointer;
}

.error_div {
  display: flex;
  justify-content: center;
  border: 1px solid vars.$button;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: vars.$background-error;
}

.error_p {
  font-size: vars.$md;
  color: vars.$white;
}

@media (max-width: 640px) {
  .form {
    padding: 25px
  }

  .title-form {
    font-size: vars.$md;
  }

  label {
    width: 50%;
    font-size: 16px;
  }

  .form_button {
    display: flex;
    justify-content: center;
    margin-top: 2px;
  }

  button {
    width: 50%;
  }
}