@use 'vars';

.title-container {
  height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
  border: 1px solid vars.$button;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.title-h1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  display: block;
  margin-top: 20px;
}

.social-media {
  width: 685px;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.icon-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 640px) {
  .title-container {
    width: 94vw;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid vars.$button;
    border-radius: 10px;
    background-color: #f7f7f7;
    padding: 0;
  }

  .title-h1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
  }

  span {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .social-media {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
  }

  .icon-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-social-media>p {
    font-size: 12px;
  }

  button {
    width: 100px
  }

  img {
    width: 40px;
    height: 40px;
  }


}